/*

MAIN.CSS 

*/

/*------------------------------------------------------------------------------*\
   CONTENTS [ Section names are prepended with $ to help cycle through with find ]
\*------------------------------------------------------------------------------*/
/*
BODY
HEADINGS
TYPOGRAPHY
LINKS
LAYOUT
EVENT SEARCH
*/

@import url(reset.css); /* RESET CSS */

/* $BODY ------------------------------------------------------------------ */

body { 
background: #fff;
font: 62.5%/1.5 Arial, Helvetica, sans-serif;
color: #5e5e5e;
width: 100%;
height: auto;
}

/* $HEADINGS -------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
margin-bottom: 1em;
color: #5e5e5e;
}

h1 {
font-size: 2em;
}

h2 {
font-size: 1.8em;
}

h3 {
font-size: 1.6em;
}

h4 {
font-size: 1.4em;
}

h5 {
font: 1.2em/1.5 Arial, Helvetica, sans-serif;
margin-bottom: 0;
}

h6 {
font: 1.2em/1.5 Arial, Helvetica, sans-serif;
font-weight: normal;
margin-bottom: 0;
}

hr {
width: 100%;
clear: both;
float: left;
margin: 0  0 1em 0;
height: 1px;
border: 0;
border-top: 1px dotted #ccc;
}

/* $TYPOGRAPHY ----------------------------------------------------------- */

p { 
margin: 0 0 1em; 
}

blockquote {
font-style: normal; 
}

div.vcard, div.vcard .adr {
margin-bottom: 1em; 
}

li ul, li ol {
margin-bottom: 1em; 
}

ul, ol {
margin-bottom: 1em; 
}

ul { 
list-style-type: disc; 
}

ol { 
list-style-type: decimal; 
}

dl {
margin: 0 0 1em 0; 
}

dt {
font-weight: bold; 
}

dd {
margin-left: 1.5em; 
}

strong {
font-weight: bold; 
}

em, dfn {
font-style: italic; 
}

dfn {
font-weight: bold; 
}

sup, sub {
line-height: 0; 
}

abbr, acronym {
border-bottom-width: 0; 
}

address {
font-style: normal; 
}

del {
color: #666; 
}

pre {
margin: 1.5em 0;
white-space: pre; 
}

pre, code, tt {
font: 1em 'andale mono', 'lucida console', monospace;
line-height: 1.5; 
}

.strong {
	font-weight: bold;
}


/* $LINKS ----------------------------------------------------------------- */
a {
color: #df0094;
}

a, a:visited {
text-decoration: none; }
 
a:hover { 
text-decoration: underline; }
 
a:active, a:focus { 
text-decoration: underline; }

/* $LAYOUT ---------------------------------------------------------------- */

div.section {
clear: left;
font-size: 1.1em;
}

div.wrapper {
clear: left;
}

div.branding {
background: #dadbda;
text-indent: -9999em;
width: 100%;
height: 26px;
margin: 0;
}

p.strapline {
background: url('../images/pf/strapline.png') no-repeat top right;
height: 98px;
text-indent: -9999em;
margin: 0;
margin-top: -25px;
}

/* $EVENT SEARCH ------------------------------------------------------------ */

.search-events {
position: relative;
background: #3f3f3f;
color: #fff;
padding: 0 0 30px;
}

.search-events h1 {
background: #fff;
padding: 0 2% 2px;
color: #5e5e5e;
font-size: 1.636363636363636em;
margin: 0;
}

.search-events h2 {
background: #242424 url('../images/backgrounds/search-h3.jpg') repeat-y top right;
color: #fff;
font-size: 1.272727272727273em;
padding: 4px 2%;
margin-bottom: 10px;
}

.search-events input {
clear: left;
margin: 0 2% 10px;
font-weight: bold;
background: #f2efef;
padding: 7px 2%;
border: 0;
display: block;
width: 92%;
}

.search-events select#event-drop-down {
clear: left;
background: #f2efef;
border: 0;
font-weight: bold;
width: 95%;
}

.search-events select#event-drop-down option {
background: #f2efef;
padding: 5px;
border-bottom: 1px solid #fff;
display: block;
}

.borderradius .search-events input {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.boxshadow .search-events input {
-moz-box-shadow: inset 0 0 1px 1px #bbb;
-webkit-box-shadow: inset 0 0 1px 1px #bbb;
box-shadow: inset 0 0 1px 1px #bbb;
}

a.proximity {
display: block;
color: white;
font-weight: bold;
background: url('../images/backgrounds/proximity-link.png') no-repeat top right;
margin: 0 2% 10px;
width: 82%;
padding: 5px 12% 5px 2%;
text-align: right;
font-size: 1.090909090909091em;
}

p.mobile-dateto {
clear: none;
float: left;
font-weight: bold;
display: inline;
margin: 5px 2px 0;
}

.search-events input.from-date, .search-events input.to-date {
clear: none;
float: left;
width: 38%;
}

.search-events input.to-date {
float: right;
}

.search-events input.eventSearchSubmit {
background: #d1038c;
color: #fff;
font-size: 1.363636363636364em;
border: 0;
width: 10em;
cursor: pointer;
padding: 5px 2%;
}

.boxshadow .search-events input.eventSearchSubmit {
-moz-box-shadow: 0 0 0 0;
-webkit-box-shadow: 0 0 0 0;
box-shadow: 0 0 0 0;
}

.events-counter-content {
float: right;
font-weight: bold;
color: #5e5e5e;
font-size: 1.5em;
}

.search-events p.events-counter-title {
clear: both;
background: transparent;
color: #fff;
font-size: 1em;
padding: 4px 2%;
text-align: right;
margin-bottom: 10px;
}

.search-events div.events-counter {
float: right;
display: inline;
position: relative;
top: -40px;
margin: 0 2% 0 0;
padding: 0;
background: transparent;
}

.search-events .events-counter-content {
background: #f2efef;
padding: 0 5px;
}

.borderradius .search-events div.events-counter-content {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.boxshadow .search-events div.events-counter-content {
-moz-box-shadow: inset 0 0 1px 1px #bbb;
-webkit-box-shadow: inset 0 0 1px 1px #bbb;
box-shadow: inset 0 0 1px 1px #bbb;
}

.search-events div.events-counter-content span {
display: block;
margin-right: 1px;
padding: 3px 6px;
float: left;
border-right: 1px solid #bbb;
}

.search-events div.events-counter-content span.last-span {
border-right: 0;
}

.search-events input.date-input {
background: #f2efef url('../images/icons/datepicker.png') no-repeat right;
}

/* Recent Events ------------------------------------------------------------ */

.recent-events {
background: #363535;
border-bottom: 1px solid #fff;
}

.recent-events h2 {
background: transparent;
padding: 20px 2% 10px;
color: #fff;
font-size: 1.636363636363636em;
margin: 0;
}

ul.recent-events-carousel {

}

ul.recent-events-carousel li {
position: relative;
border-bottom: 4px solid #3e3e3e;
margin-bottom: 20px;
padding: 20px 2%;
}

ul.recent-events-carousel li span.event-details {
display: block;
color: #fff;
background: #df0094;
padding: 4px 20px;
font-size: 1.181818181818182em;
font-weight: bold;
position: absolute;
top: 0;
left: 136px;
margin-right: 20px;
}

ul.recent-events-carousel li a:hover span.event-details, ul.recent-events-carousel li a:focus span.event-details {
text-decoration: underline;
}

ul.recent-events-carousel li a.remove {
color: #bbb;
font-weight: bold;
text-align: right;
display: block;
padding: 5px 30px 5px 20px;
position: absolute;
bottom: 20px;
right: 20px;
text-align: right;
background: url('../images/buttons/remove.png') no-repeat top right;
}

a#show-recents {
background: #504e4e url('../images/buttons/show-all-recents.png') repeat-x 0 0;
color: #fff;
font-size: 1.090909090909091em;
border: 0;
cursor: pointer;
padding: 7px 4%;
display: inline-block;
margin: 0 2% 20px;
font-weight: bold;
}

.borderradius a#show-recents {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* SERPS -------------------------------------------------------------------- */

.serps h1 {
font-size: 1.636363636363636em;
}

.serps .preamble {
padding: 10px 0;
}

.serps .preamble h1 {
padding: 0 2%;
margin-bottom: .5em;
}

.serps .preamble p {
padding: 0 2%;
font-size: 1.090909090909091em;
}

.serps .preamble p {
font-weight: bold;
margin-bottom: 1em;
}

ul.view-filter {
list-style: none;
background: #dedede;
width: 96%;
padding: 5px 2%;
font-size: 1.090909090909091em;
}

ul.view-filter, ul.view-filter li, ul.view-filter li a {
float: left;
}

ul.view-filter label {
color: #a2006c;
}

ul.events-list {
list-style: none;
width: 96%;
padding: 0 2%;
}

ul.events-list li {
clear: left;
float: left;
width: 100%;
padding: 30px 0 20px;
border-bottom: 3px solid #d4d4d4;
position: relative;
}

ul.events-list li.end-event-list {
border-bottom: 0;
}

ul.events-list li a.img-case {
float: left;
display: block;
width: 101px;
height: 76px;
margin: 0 10px 0 0;
}

ul.events-list li a.img-case img {
width: 100%;
}

ul.events-list li h3 {
display: block;
color: #fff;
background: #df0094;
padding: 4px 20px;
font-size: 1.181818181818182em;
font-weight: bold;
position: absolute;
top: 15px;
left: 91px;
}

ul.events-list li h3 a {
color: white;
}

ul.events-list li div.event-detail {
padding-top: 0;
font-size: 1em;
position: absolute;
bottom: 20px;
left: 120px;
font-weight: bold;
}


ul.events-list li div.event-status p {
color: #fff;
font-size: 1em;
background: #504e4e url('../images/buttons/event-status.png') repeat-x;
padding: 4px 10px;
font-weight: bold;
z-index: 100;
display: inline;
position: absolute;
right: 0;
margin-top: 25px;
}

ul.events-list li div.event-status p a {
color: white;
}

.borderradius ul.events-list li div.event-status p {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* Pagination --------------------------------------------------------------- */

div.pagination ul {
list-style: none;
width: 96%;
padding: 0 2%;
}

div.pagination ul li {
float: left;
position: relative;
}

div.pagination ul li.pag-prev {
text-indent: -9999em;
height: 44px;
width: 10%;
background: url('../images/pf/pag-left.gif') no-repeat top left;
}

div.pagination ul li.pag-next {
height: 44px;
width: 10%;
background: url('../images/pf/pag-right.gif') no-repeat top right;
} 

div.pagination ul li.pag-prev a, div.pagination ul li.pag-next a {
height: 44px;

display: block;
text-indent: -9999em;
}

div.pagination ul li.pag-position {
height: 44px;
text-align: center;
width: 80%;
background: url('../images/pf/pag-bg.gif') repeat-x top left;
color: #353535;
font-size: 1.363636363636364em;
padding: 10px 0 0;
font-weight: bold;
}

/* Mobile Navigation -------------------------------------------------------- */

#mobile-nav ul, ul.events-grid {
margin: 0;
}

#mobile-nav li, ul.events-grid li {
background: url("../images/backgrounds/list_item.gif") repeat-x scroll left top #e3e2e2;
margin: 5px;
}

#mobile-nav li a, ul.events-grid li a {
padding: 8px 17px;
margin-right: 12px;
display: block;
font-weight: bold;
font-size: 1.636363636363636em;
background: url("../images/pf/list_item_right.png") no-repeat scroll right center transparent;
}

.borderradius #mobile-nav li, ul.events-grid li {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

ul.events-grid li img, ul.events-grid li p, ul.events-grid li a.events-grid-img {
display: none;
}

.event-types h1 {
background: transparent;
padding: 20px 2% 4px;
color: #5e5e5e;
font-size: 1.636363636363636em;
margin: 0;
}

ul.events-grid li h2 {
font-size: 1em;
margin: 0;
display: inline;
padding: 0;
}

/* Event Detail ------------------------------------------------------------- */

.event-detail h1 {
background: transparent;
padding: 10px 2% 4px;
color: #5e5e5e;
font-size: 1.636363636363636em;
margin: 0;
}

.event-detail p.event-date {
list-style: none;
background: #dedede;
width: 96%;
padding: 5px 2%;
font-size: 1.090909090909091em;
font-weight: bold;
margin: 0;
color: #5e5e5e;
top: 0;
left: 0;
}

div.the-player {
width: 96%;
padding: 5px 2%;
}

div.the-player img {
width: 100%;
}

.event-detail p {
background: #df0094;
color: white;
font-weight: bold;
font-size: 1.090909090909091em;
padding: 10px 4%;
margin: 0;
position: relative;
top: 20px;
left: 12%;
width: 80%;
z-index: 99;
}

dl.event-definition {
clear: left;
width: 96%;
padding: 0 2%;
font-size: 1.090909090909091em;
font-weight: bold;
position: relative;
overflow: hidden;
}

dl.event-definition dt {
clear: left;
float: left;
background: #fff;
display: inline;
margin: 0;
margin-right: 10px;
margin-bottom: 2px;
color: #262626;
}

dl.event-definition dd {
float: left;
background: #fff;
display: inline;
margin: 0;
margin-bottom: 2px;
color: #df0094;
}

div.event-detail-wrapper {
width: 96%;
margin: 0 2% 15px;
background: #e3e2e2;
font-weight: bold;
font-size: 1.090909090909091em;
color: #353535;
overflow: hidden;
}

.borderradius div.event-detail-wrapper {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

div.event-detail-wrapper h2 {
color: #df0094;
font-size: 1.25em;
padding: 10px 10px 10px 50px;
margin: 0;
cursor: pointer;
}

div.event-more-detail {
padding: 10px 10px 10px 50px;
}

.share-this {
width: 96%;
margin: 0 2% 15px;
font-size: 1.636363636363636em;
font-weight: bold;
overflow: hidden;
position: relative;
}

.share-this p {
display: inline;
float: left;
margin: 0;
}

ul.social-sharing {
list-style: none;
float: left;
display: inline;
margin: 0;
}

ul.social-sharing li {
float: left;
display: inline;
}

ul.social-sharing li.social-twitter a {
width: 29px;
height: 29px;
display: block;
background: url('../images/icons/twittre.jpg') no-repeat;
}

ul.social-sharing li.social-facebook a {
width: 29px;
height: 29px;
display: block;
background: url('../images/icons/facebook.jpg') no-repeat;
}

ul.social-sharing li.social-mail a {
width: 38px;
height: 28px;
display: block;
background: url('../images/icons/email.gif') no-repeat;
}

ul.social-sharing li a {
text-indent: -9999em;
margin-left: 20px;
}

.ticket-widget {
width: 96%;
margin: 0 2% 15px;
font-weight: bold;
font-size: 1.090909090909091em;
overflow: hidden;
color: #353535;
}

.ticket-widget h3 {
margin-bottom: 10px;
}

.ticket-options h4 {
background: #e3e2e2;
margin: 0;
margin-top: 10px;
color: #df0094;
font-size: 1.25em;
padding: 10px 10px 10px 50px;
cursor: pointer;
}

div.ticket-option {
background: #e3e2e2;
padding: 10px 10px 10px 50px;
}

div.ticket-option span.event-status {
text-transform: uppercase;
}

div.ticket-option img {
display: none;
}

div.ticket-option h5 {
font-weight: bold;
font-size: 1.25em;
color: #353535;
}

a.ticket-link {
background: #504e4e url('../images/buttons/event-status.png') repeat-x;
padding: 6px 14px;
font-weight: bold;
color: white;
font-size: 1.166666666666667em;
margin-bottom: 10px;
display: inline-block;
}

.borderradius a.ticket-link {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.borderradius div.ticket-option {
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.borderradius div.ticket-options h4 {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.borderradius div.ticket-options h4.expanded {
-webkit-border-bottom-right-radius: 0;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-bottomright: 0;
-moz-border-radius-bottomleft: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.comments {
width: 96%;
margin: 0 2% 15px;
font-weight: bold;
font-size: 1.090909090909091em;
overflow: hidden;
color: #353535;
background: #e3e2e2;
}

.comments h2 {
margin: 0;
color: #df0094;
font-size: 1.25em;
padding: 10px 10px 10px 50px;
cursor: pointer;
}

.JS-enabled h2.toggle, .JS-enabled h4.toggle {
background: #e3e2e2 url('../images/pf/show-more.jpg') no-repeat 0 0;
}

.JS-enabled h2.expanded, .JS-enabled h4.expanded {
background: #e3e2e2 url('../images/pf/show-less.jpg') no-repeat 0 0;
}

.comments-content {
padding: 10px 10px 10px 50px;
}

.borderradius .comments {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* ABOUT Page --------------------------------------------------------------- */

.about-content {
clear: left;
width: 96%;
padding: 0 2%;
font-size: 1.090909090909091em;
position: relative;
overflow: hidden;
}

.about-content img {
width: 100%;
height: auto;
}

.about-content h1 {
background: transparent;
padding: 10px 0 4px;
color: #5e5e5e;
font-size: 1.636363636363636em;
margin: 0;
}

.about-content h2 {
font-size: 1.454545454545455em;
padding: 10px 0 4px;
margin: 0;
}

.about-content h3 {
font-size: 1.272727272727273em;
padding: 10px 0 4px;
margin: 0;
}

.about-content h4 {
font-size: 1.090909090909091em;
padding: 10px 0 4px;
margin: 0;
}

ol {
padding-left: 20px;
}

/* Sponsors and Partners ---------------------------------------------------- */

.sponsorsLogos {
background: #504f4f;
border-bottom: 1px solid #fff;
padding: 20px 0;
}

.sponsorsLogos h2 {
background: transparent;
padding: 0 2%;
color: #fff;
font-size: 1em;
margin: 0;
}

.sponsorsLogos ul {
padding: 10px 2%;
margin-bottom: 10px;
}

.sponsorsLogos ul li {
display: inline-block;
margin: 0 5px 5px 0;
}

/* Mobile Desktop switch ---------------------------------------------------- */

.mobile-desktop {
background: #363535;
padding: 20px 0;
width: 100%;
position: relative;
float: left;
}

.mobile-desktop ul {
margin: 0;
padding: 0 2%;
color: #fff;
width: 96%;
position: relative;
}

.mobile-desktop ul li {
float: left;
display: inline;
border-right: 1px solid #fff;
padding-right: 10px;
margin-right: 10px;
}

.mobile-desktop ul a {
color: #fff;
font-weight: bold;
display: block;
}

/* Sundry stylings ---------------------------------------------------------- */

.hide-content {
left: -9999px;
position: absolute;
width: 1px;
}

/* YaSelect styling ------------------------------------------------------- */

.yaselect-anchor {
float:left;
width:94%;
color:#000;
font-weight: bold;
padding: 0 0 0 2%;
margin:0 2% 10px;
z-index: 50;
background: #d2d2d2 url('../images/backgrounds/event-drop-down.jpg') repeat-x top left;
}

.borderradius .yaselect-anchor {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.yaselect-wrap {width: 100%; padding: 7px 0; margin: 0; background: url('../images/pf/dropdown_close.png') no-repeat top right;}
.yaselect-wrap, .yaselect-current { cursor: pointer; display: block; }
.yaselect-current, .yaselect-select { }
.yaselect-select { margin-top: 0; padding-top: 0; }
.yaselect-open .yaselect-wrap {width: 100%; padding: 7px 0; margin: 0; background: url('../images/pf/dropdown_open.png') no-repeat top right;}

.yaselect-anchor option {
padding: 5px 5px;
}